secrets = {
    "ssid": "",
    "password": "",
    "aio_username": "",
    "aio_key": "",
    "participant_id": 1,
    "usgs_id": 12115000,
    "time_warp_years": 30,
    "scaling_factor": 0.5,
    "sleep_hour": 22,
    "wake_hour": 7
}
